user: vagrant
pre_desktop:
  locale_system: nl_NL
  locales_present:
    - fr_FR
  timezone: Europe/Amsterdam
  extra_packages:
    - vim
    - git
  install_restricted_extras: true
  accept_mscorefonts_eula: true
post_desktop:
  autologin: true
customize_desktop:
  launcher_favorites_applications:
    - application://firefox.desktop
