user: vagrant
pre-desktop:
  locale-system: nl_NL
  locales-present:
    - fr_FR
  timezone: Europe/Amsterdam
  extra-packages:
    - vim
    - git
  # https://en.wikipedia.org/wiki/Ubuntu-restricted-extras
  install-restricted-extras: true
  # https://www.microsoft.com/typography/fontpack/eula.htm
  accept-mscorefonts-eula: true
post-desktop:
  autologin: true
